<h1>New Game</h1>

<div class= letter-list>
<% @grid.each do |letter| %>
    <div ><%= letter %></div>
  <% end %>
</div>

<h3>What is the longest word you can find?</h3>
<form action="/score" method="post">
<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word" placeholder="Guess?">
  <input type="submit" value="Play">
</form>
